<style>

         
  .par{

         text-align: center;
        font-family: "candara",sans-serif;
        color: #050505;
     }
     .titre{

         text-align: center;
        font-family: "candara",sans-serif;
        text-shadow: 0px 0px 12px #ccc; 
        color:  #0226fe;
     }
     .navbar .brand, .navbar .nav > li > a:hover {
    color: #47abff;
}
    .navbar .brand, .navbar .nav > li > a:focus {
    color: #47abff;
}
.anav{
        background:white;
        box-shadow: 0px 3px 2px  rgba(225,230,231, 0.5);
        border-bottom:none;
    }
    .cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 200px;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
        top:150px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;
    }
    .cuadro_intro_hover .blur{
        background-color: rgba(13,118,178,1);
        height: 300px;
        z-index: 5;
        position: absolute;
        width: 100%;
    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #47abff;
        position: absolute;
        height: 300px;
        text-align: center;
        top:-20px;
        width: 100%;
    }
    .tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
/* Footer */

.footer {
    background-color: #337AB7;
    color: #EEE;
    padding-top: 30px;
}

.foot-geo {
    text-align: left;
}

.footer-p {
    background-color: #2B679A;
    color: #EEE;
    padding-top: 20px;
    text-align: center;
}

.footer-nav {
    display: inline-block;
    list-style: none;
}

.footer-nav li {
    float: left;
    margin-right: 15px;
}

.footer-nav li a {
    display: inline-block;
    background-color: #EEE;
    border-radius: 50%;
    font-size: 25px;
    height: 45px;
    width: 45px;
    padding-top: 3px;
    transition: all 1s;
}

.footer-nav li a:hover {
    background-color: #FFF;
}

.footer-info {
    text-align: right;
}

</style>
